* { font-family: "Open Sans", sans-serif; }
html, body {
    background-color: #36393f;
    color: white;
    margin: 0;
    padding:0;
}

h1 { padding-top: 10px; }
#container { margin:0 auto; max-width:600px; }
header { border-bottom: 3px solid #42454a; font-size:24px; margin-bottom:20px; }
#newitem_container { display:flex; margin-bottom: 20px; }
#newitem_input { background-color:#40444b; border: 1px solid #42454a; border-radius: 20px 0 0 20px; color:white; padding:10px; width: 90%; }
#newitem_button { background-color:#3ba55d; border:none; border-radius:0 20px 20px 0; color:white; flex:1; }
#newitem_button:disabled { color:#42454a; cursor:not-allowed; }
#todo_list { border:1px solid #42454a; border-collapse:collapse; width:100%; }
th, td { border: 1px solid #42454a; padding:5px; text-align:left; }
th:first-child, td:first-child, th:last-child, td:last-child { width: 20px; }
.removeButton { background-color:#ee4245; border:none; border-radius:2px; color:white; }
tr.done > * { text-decoration:line-through; }
